<h1>L3M 2023-2024 : Matrices</h1>

à compléter...
<pre>
    <input type="number"
        [ngModel]="sigL1()"
        (ngModelChange) = "updateL1($event)">
    <input type="number"
        [ngModel]="sigH1()"
        (ngModelChange) = "updateH1($event)">
    <input type="number"
        [ngModel]="sigL2()"
        (ngModelChange) = "updateL2($event)">
    <input type="number"
        [ngModel]="sigH2()"
        (ngModelChange) = "updateH2($event)">        
    <app-matrix
        [data] = "sigM1()">
    </app-matrix>
    <app-matrix
        [data] = "sigM2()">
    </app-matrix>

    <div *ngIf="sigM1plusM2() == undefined;else elseBlock">
            matrice non définie
    </div>
    <ng-template #elseBlock>
        <app-matrix 
            [data] = "sigM1plusM2()">
        </app-matrix>
    </ng-template>

    <div *ngIf="sigM1xM2() == undefined;else elseBlock">
        matrice non définie
    </div>
    <ng-template #elseBlock>
        <app-matrix
            [data] = "sigM1xM2()">
        </app-matrix>
    </ng-template>

</pre>